$white: #FFFFFF;
$black: #000000;
$light-gray: #D9D9D9;
$gray: #443F3F;
$dark-gray: #262424;
$light-green: #0FA958;

// -- consuming

$navbar-gray: $gray;
$navbar-option-hover: $light-gray;
$navbar-font-color: $white;
$navbar-select-color: $dark-gray;
$header-light-gray: $light-gray;

$primary-color: $light-green;
$font-color: $black;
$icon-color: $white;

$title-font-size: 20px;
$primary-font-size: 16px;


